.techtree {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
}

.search-bar {
  position: absolute;
  width: 400px;
  padding-left: 0px;
  padding-right: 0px;
  top: 20px;
  left: 20px
}

#readme {
  padding: 0.7% 1.3%;
  width: 35%;
  height: 100%;
  min-width: 350px;
  /*min-height: 500px;*/
  position: absolute;
  top: 0;
  /*right: 2%;*/
  right: -34%;
  border-radius: 0.5em 0 0 0.5em;
  /*display: none;*/
  background:  rgba(211,237,250, 0.5);
}
.readme-body{
  height: 94%;
  min-height: 315px;
  overflow: auto;
}
.readme-opts{
  height: 6%;
  min-height: 30px;
}
.readme-toggle{
  position: absolute;
  width: 12px;
  height: 15%;
  top:50%;
  left: 0px;
}
.readme-toggle-offset{
  position: relative;
  text-align: center;
  height: 100%;
  top:-50%;
  vertical-align: middle;
  box-shadow: 1px 1px 2px 1px rgba(128,128,128, 0.6);
  background: rgba(190,190,190, 0.6);
  color: rgb(239,239,239);
  border-radius: 0px 0.3em 0.3em 0px;
  cursor: pointer;
}
.readme-toggle-offset:hover{
  background: rgba(85,85,85, 0.4);
}
.readme-toggle-text{
  font-size: 0.8em;
  top: 42%;
  position: absolute;
  left: 0px;
  /*display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;*/
}

.readme-alert-main{
  width:25%;
  min-width: 180px;
  height: 40px;
  /*opacity: 0;*/
  top:-100%;
  position: absolute;
  left: 50%;
}
.readme-alert-body{
  text-align: center;
  position: relative;
  height: 100%;
  left: -50%;
  padding: 6px;
  font-size: 1.3em;
  background:  rgba(60,60,60, 0.6);
  color: rgb(239,239,239);
  border-radius: 0px 0px 0.5em 0.5em;
}


/* about Node */

.node path {
  fill: rgb(223,213,213);
  stroke: white;
}

.highlighted path {
  stroke: #79caef;
}

.focused path{
  fill: #79caef;
}

.node path:active {
  fill: #79caef;
}

.node text {
  stroke-width: 0;
  font-weight: normal;
}

.node:hover>text {
  font-weight: bold;
}



/* about link */

.normal_link {
  stroke: #888;
  fill:   #888;
}

.high_link {
  stroke: #79caef;
  fill:   #79caef;
}


